@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf") format("ttf");
    font-display: swap;
  }

.about h1{
  font-family: 'Raleway', sans-serif;
  line-height: 5.6rem;
  font-size: 7rem;
  font-weight: 300;
}
.author-firstname{
  color: orange;
}
body.colorscheme-dark .author-firstname{
  color: #a9180e;
}

.author-info{
  font-style: italic;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.project-card {
  /* background-color: #fff; */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
}

.project-card-content {
  padding: 15px;
}

.project-card-content h3 {
  margin: 0 0 10px;
}

.project-card-content p {
  margin: 0;
}
